:root {
  --color-claro: #000;
  --color-oscuro: #fff;
  --color-verde: #32CD32;
  --color-magenta: #FF1493;
  --color-azul: #4682B4;
  --color-amarillo: #FFEB3B;
  --color-gris: #333;
  --color-blanco: #FFF;

  --bg-claro: url('fondo1.png') no-repeat center center fixed;
  --bg-oscuro: url('fondo.png') no-repeat center center fixed;
  
  --contenedor-bg-claro: rgba(70, 130, 180, 0.8);
  --contenedor-bg-oscuro: rgba(240, 230, 140, 0.8);
  
  --textarea-bg-claro: rgba(240, 230, 140, 0.8);
  --textarea-bg-oscuro: var(--color-azul);
  
  --button-bg-claro: #4CAF50;
  --button-bg-oscuro: var(--color-magenta);
  
  --button-hover-claro: #3e8e41;
  --button-hover-oscuro: #c2185b;
  
  --footer-color-claro: var(--color-claro);
  --footer-color-oscuro: var(--color-oscuro);
}

body {
  font-family: 'Roboto Slab', serif;
  background: var(--bg-claro);
  background-size: cover;
  color: var(--color-claro);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  position: relative;
}

body.dark {
  background: var(--bg-oscuro);
  background-size: cover;
  color: var(--color-oscuro);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

h1 {
  text-align: center;
  font-size: 4rem;
  color: var(--color-verde);
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

body.dark h1 {
  color: var(--color-magenta);
}

.switch {
  position: absolute;
  top: 20px;
  right: 20px;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-azul);
  transition: .4s;
  border-radius: 34px;
  border: 2px solid var(--color-claro);
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--color-blanco);
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--color-amarillo);
  border-color: var(--color-blanco);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  background-color: var(--contenedor-bg-claro);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  gap: 10px;
  margin-top: 10px;
}

body.dark .contenedor {
  background-color: var(--contenedor-bg-oscuro);
}

.entrada, .salida {
  margin : 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--color-gris);
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: var(--textarea-bg-claro);
  color: var(--color-gris);
}

body.dark textarea {
  background-color: var(--textarea-bg-oscuro);
  color: var(--color-blanco);
}

textarea::placeholder {
  color: var(--color-claro);
}

body.dark textarea::placeholder {
  color: var(--color-oscuro);
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: var(--button-bg-claro);
  color: var(--color-oscuro);
  cursor: pointer;
  margin-top: 10px;
}

body.dark button {
  background-color: var(--button-bg-oscuro);
}

button:hover {
  background-color: var(--button-hover-claro);
}

body.dark button:hover {
  background-color: var(--button-hover-oscuro);
}

.mostrar-ocultar, .acciones button {
  font-size: 18px;
  cursor: pointer;
  background-color: var(--button-bg-claro);
  color: var(--color-oscuro);
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

body.dark .mostrar-ocultar, body.dark .acciones button {
  background-color: var(--button-bg-oscuro);
}

.mostrar-ocultar:hover, .acciones button:hover {
  background-color: var(--button-hover-claro);
}

body.dark .mostrar-ocultar:hover, body.dark .acciones button:hover {
  background-color: var(--button-hover-oscuro);
}

.acciones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.acciones button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: var(--button-bg-claro);
  color: var(--color-oscuro);
  cursor: pointer;
  transition: background-color 0.3s;
}

body.dark .acciones button {
  background-color: var(--button-bg-oscuro);
}

.acciones button:hover {
  background-color: var(--button-hover-claro);
}

body.dark .acciones button:hover {
  background-color: var(--button-hover-oscuro);
}

#encriptar, #desencriptar {
  font-weight: bold;
}

#encriptar, #desencriptar {
  background-color: var(--button-bg-claro);
  color: var(--color-blanco);
}

#encriptar, #desencriptar {
  background-color: var(--color-verde);
  color: var(--color-blanco);
}

#copiar, #mostrar-entrada, #limpiar {
  background-color: var(--button-bg-claro);
  color: var(--color-oscuro);
}

body.dark #copiar, body.dark #mostrar-entrada, body.dark #limpiar {
  background-color: var(--button-bg-oscuro);
}

#copiar:hover, #mostrar-entrada:hover, #limpiar:hover {
  background-color: var(--button-hover-claro);
}

body.dark #copiar:hover, body.dark #mostrar-entrada:hover, body.dark #limpiar:hover {
  background-color: var(--button-hover-oscuro);
}

.aviso {
  font-size: 16px;
  color: var(--color-claro);
  margin-top: 20px;
}

body.dark .aviso {
  color: var(--color-oscuro);
}

footer {
  position: absolute;
  bottom: 10px;
  font-size: 14px;
  color: var(--footer-color-claro);
  width: 100%;
  text-align: center;
}

body.dark footer {
  color: var(--footer-color-oscuro);
}

/* Estilos para pantallas grandes (escritorios) */
@media (min-width: 1024px) {
  .contenedor {
    padding: 30px;
    gap: 30px;
  }

  h1 {
    font-size: 4rem;
    margin-bottom: 40px;
  }

  textarea {
    font-size: 18px;
    padding: 15px;
  }

  button, .mostrar-ocultar {
    font-size: 18px;
  }

  .switch {
    width: 70px;
    height: 40px;
  }

  .slider:before {
    height: 30px;
    width: 30px;
  }
}

/* Estilos para pantallas medianas (tabletas) */
@media (max-width: 1024px) and (min-width: 768px) {
  .contenedor {
    padding: 20px;
    gap: 20px;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 30px;
  }

  textarea {
    font-size: 16px;
    padding: 12px;
  }

  button, .mostrar-ocultar {
    font-size: 16px;
  }

  .switch {
    width: 60px;
    height: 34px;
  }

  .slider:before {
    height: 26px;
    width: 26px;
  }
}

/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  body {
    font-size: 14px;
    height: auto;
    justify-content: flex-start;
  }

  header {
    top: 10px;
    right: 10px;
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
  }

  .contenedor {
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    margin-top: 20px;
  }

  textarea {
    font-size: 14px;
    padding: 8px;
  }

  button, .mostrar-ocultar {
    font-size: 14px;
  }

  .switch {
    width: 50px;
    height: 30px;
  }

  .slider:before {
    height: 20px;
    width: 20px;
  }

  footer {
    bottom: 20px;
    font-size: 12px;
  }
}
